<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.mapper.ApplyMapper">
    <!--namespace根据自己需要创建的的mapper的路径和名称填写-->
    <resultMap id="applyResultMap" type="apply">
        <result property="rtele" column="rtele" />
        <result property="applytime" column="applytime" />
        <result property="pname" column="pname" />
        <result property="apstate" column="apstate" />
    </resultMap>

    <delete id="deleteByids">
        delete  from apply where apid in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectByPageAndCondition" resultMap="applyResultMap">
        select *
        from apply
        <where>
            <if test="apply.rtele !=null and apply.rtele!=''">
                and rtele = #{apply.rtele}
            </if>
            <if test="apply.applytime !=null and apply.applytime!=''">
                and applytime = #{apply.applytime}
            </if>
            <if test="apply.pname !=null and apply.pname!=''">
                and pname like #{apply.pname}
            </if>
            <if test="apply.apstate !=null and apply.apstate!=''">
                and apstate = #{apply.apstate}
            </if>
        </where>
        limit #{begin},#{size}
    </select>

    <select id="selectTotalCountByCondition" resultType="java.lang.Integer" >
        select count(*)
        from  apply
        <where>
            <if test="rtele !=null and rtele!=''">
                and rtele = #{rtele}
            </if>
            <if test="applytime !=null and applytime !=''">
                and applytime = #{applytime}
            </if>
            <if test="pname !=null and pname!=''">
                and pname like #{pname}
            </if>
            <if test="apstate !=null and apstate!=''">
                and apstate = #{apstate}
            </if>
        </where>
    </select>
</mapper>