<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.mapper.HelpMapper">
    <!--namespace根据自己需要创建的的mapper的路径和名称填写-->
    <resultMap id="helpResultMap" type="help">
        <result property="address" column="address" />
        <result property="hdate" column="hdate" />
        <result property="rid" column="rid" />
    </resultMap>

    <delete id="deleteByids">
        delete  from help where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectByids" resultMap="helpResultMap">
        select * from help where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>


    <select id="selectByPageAndCondition" resultMap="helpResultMap">
        select *
        from help
        <where>
            <if test="help.address !=null and help.address!=''">
                and address like #{help.address}
            </if>
            <if test="help.hdate !=null and help.hdate!=''">
                and hdate = #{help.hdate}
            </if>
            <if test="help.rid !=null and help.rid!=''">
                and rid = #{help.rid}
            </if>
            and hstate=1
        </where>
        order by hdate desc limit #{begin},#{size}
    </select>

    <select id="selectTotalCountByCondition" resultType="java.lang.Integer" >
        select count(*)
        from  help
        <where>
            <if test="address !=null and address!=''">
                and address like #{address}
            </if>
            <if test="hdate !=null and hdate!=''">
                and hdate = #{hdate}
            </if>
            <if test="rid !=null and rid!=''">
                and rid = #{rid}
            </if>
            and hstate=1
        </where>
    </select>
</mapper>