<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.mapper.LanmuMapper">
    <!--namespace根据自己需要创建的的mapper的路径和名称填写-->
    <resultMap id="lanmuResultMap" type="lanmu">
        <result property="id" column="id" />
        <result property="lanmuli" column="lanmuli" />
    </resultMap>
    <delete id="deleteByids">
        delete  from lanmu where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
</mapper>