<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.mapper.RegularMapper">
    <!--namespace根据自己需要创建的的mapper的路径和名称填写-->
    <resultMap id="RegularResultMap" type="Regular">
        <result property="tele" column="tele" />
    </resultMap>

    <delete id="deleteByids">
        delete  from regular where tele in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectByPageAndCondition" resultMap="RegularResultMap">
        select *
        from regular
        <where>
            <if test="Regular.tele !=null and Regular.tele!=''">
                and tele = #{Regular.tele}
            </if>
        </where>
        limit #{begin},#{size}
    </select>

    <select id="selectTotalCountByCondition" resultType="java.lang.Integer" >
        select count(*)
        from  regular
        <where>
            <if test="tele !=null and tele!=''">
                and tele = #{tele}
            </if>
        </where>
    </select>
</mapper>